<!doctype html>
<head>
  <script>
function getRandomInt(max) { return Math.floor(Math.random() * max); }
function createStampCell(i) {
  const input = document.createElement("input");
  input.type = "time";
  input.id = "STAMP"+i;
  input.name = "STAMP"+i;
  return input;
}
function createTempCell(i) {
  const input = document.createElement("input");
  input.type = "number";
  input.step = "any";
  input.id = "VALUE"+i;
  input.name = "VALUE"+i;
  return input;
}
function addrow() {
  let elem = '';
  let i = getRandomInt(1000000);
  do {
    elem = document.getElementById("ROW"+i);
    i = getRandomInt(1000000);
  } while (elem !== null);
  let table = document.getElementById("scheduletable");
  let newrow = table.insertRow(-1);
  let newcell = newrow.insertCell();
  newcell.appendChild(createStampCell(i));
  newcell = newrow.insertCell();
  newcell.appendChild(createTempCell(i));
}
function delrow(idx) {
  document.getElementById("ROW"+idx)?.remove();
}
  </script>
</head>
<title>Heat me pls</title>
<form action="/sched" method="post">
  <table id="scheduletable">
    <tr>
      <th>Timestamp (HH:MM)</th>
      <th>Temp °C</th>
      <th><a href="javascript:addrow()">➕</a></th>
    </tr>
    {% for idx, sched in schedule %}
    <tr id="{{ 'ROW%s' % idx }}">
      <td><input type="time" id="{{'STAMP%s' % idx}}" name="{{'STAMP%s' % idx}}" value="{{ sched['timestamp'] }}"/></td>
      <td><input type="number" step="any" id="{{'VALUE%s' % idx}}" name="{{'VALUE%s' % idx}}" value="{{ sched['temp'] }}"/></td>
      <td><a href="javascript:delrow({{idx}})">➖</a></td>
    </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Save Schedule" />
</form>
<form action="/" method="post">
  <fieldset>
    <legend>Auto Control</legend>
    <div>
      <input type="radio" id="auto_on" name="onoff" value="1" {{ "checked" if data["onoff"] else "" }} />
      <label for="auto_on">On</label>
    </div>
    <div>
      <input type="radio" id="auto_off" name="onoff" value="0" {{ "" if data["onoff"] else "checked" }} />
      <label for="dewey">Off</label>
    </div>
    <div>
      <label for="target_temp">Target Temp ({{ data["target_temp"] }})°C</label>
      <input type="number" step="any" id="target_temp" name="target_temp" value="{{ data['target_temp'] }}"/>
    </div>
  </fieldset>
<iframe src="http://192.168.25.250:3000/d-solo/bfdf5822-4b39-4248-8ed1-94d932e2614f/janky-thermostat?orgId=1&panelId=1" width="1280" height="500" frameborder="0"></iframe>
  <fieldset>
    <legend>PID Control</legend>
    <div>
      <label for="kp">kp ({{ data["kp"] }})</label>
      <input type="number" step="any" id="kp" name="kp" value="{{ data["kp"] }}"/>
    </div>
    <div>
      <label for="ki">ki ({{ data["ki"] }})</label>
      <input type="number" step="any" id="ki" name="ki" value="{{ data["ki"] }}"/>
    </div>
    <div>
      <label for="kd">kd ({{ data["kd"] }})</label>
      <input type="number" step="any" id="kd" name="kd" value="{{ data["kd"] }}"/>
    </div>
  </fieldset>
<iframe src="http://192.168.25.250:3000/d-solo/bfdf5822-4b39-4248-8ed1-94d932e2614f/janky-thermostat?orgId=1&panelId=2" width="1280" height="400" frameborder="0"></iframe>
  <fieldset>
    <legend>Actuator control</legend>
    <div>
      <label for="new_pos">Manual move to ({{ data["new_pos"] }})</label>
      <input type="number" step="1" id="new_pos" name="new_pos" value="{{ data["new_pos"] }}"/>
    </div>
    <div>
      <label for="last_position">Last position ({{ data["last_position"] }})</label>
      <input type="number" step="1" id="last_position" name="last_position" value="{{ data["last_position"] }}"/>
    </div>
    <div>
      <label for="lower">Lower limit ({{ data["lower"] }})</label>
      <input type="number" step="1" id="lower" name="lower" value="{{ data["lower"] }}"/>
    </div>
    <div>
      <label for="upper">Upper limit ({{ data["upper"] }})</label>
      <input type="number" step="1" id="upper" name="upper" value="{{ data["upper"] }}"/>
    </div>
    <div>
      <label for="pos_margin">Position margin ({{ data["pos_margin"] }})</label>
      <input type="number" step="1" id="pos_margin" name="pos_margin" value="{{ data["pos_margin"] }}"/>
    </div>
    <div>
      <label for="speed">Speed ({{ data["speed"] }})</label>
      <input type="number" step="1" id="speed" name="speed" value="{{ data["speed"] }}"/>
    </div>
  </fieldset>
  <input type="submit" value="Set" />
</form>
