<!doctype html>
<title>Heat me pls</title>
<form action="/" method="post">
  <fieldset>
    <legend>Auto Control</legend>
    <div>
      <input type="radio" id="auto_on" name="onoff" value="1" {{ "checked" if data["onoff"] else "" }} />
      <label for="auto_on">On</label>
    </div>
    <div>
      <input type="radio" id="auto_off" name="onoff" value="0" {{ "" if data["onoff"] else "checked" }} />
      <label for="dewey">Off</label>
    </div>
    <div>
      <label for="target_temp">Target Temp ({{ data["target_temp"] }})°C</label>
      <input type="number" step="any" id="target_temp" name="target_temp" value="{{ data["target_temp"] }}"/>
    </div>
  </fieldset>
<iframe src="http://192.168.25.250:3000/d-solo/bfdf5822-4b39-4248-8ed1-94d932e2614f/janky-thermostat?orgId=1&panelId=1" width="1280" height="500" frameborder="0"></iframe>
  <fieldset>
    <legend>PID Control</legend>
    <div>
      <label for="kp">kp ({{ data["kp"] }})</label>
      <input type="number" step="any" id="kp" name="kp" value="{{ data["kp"] }}"/>
    </div>
    <div>
      <label for="ki">ki ({{ data["ki"] }})</label>
      <input type="number" step="any" id="ki" name="ki" value="{{ data["ki"] }}"/>
    </div>
    <div>
      <label for="kd">kd ({{ data["kd"] }})</label>
      <input type="number" step="any" id="kd" name="kd" value="{{ data["kd"] }}"/>
    </div>
  </fieldset>
<iframe src="http://192.168.25.250:3000/d-solo/e0ddf97a-ff4a-454e-b1b6-6738c5509cad/janky-pid?orgId=1&panelId=1" width="1280" height="400" frameborder="0"></iframe>
  <fieldset>
    <legend>Actuator control</legend>
    <div>
      <label for="last_position">last_position ({{ data["last_position"] }})</label>
      <input type="number" step="any" id="last_position" name="last_position" value="{{ data["last_position"] }}"/>
    </div>
    <div>
      <label for="lower">Lower limit ({{ data["lower"] }})</label>
      <input type="number" step="1" id="lower" name="lower" value="{{ data["lower"] }}"/>
    </div>
    <div>
      <label for="upper">Upper limit ({{ data["upper"] }})</label>
      <input type="number" step="1" id="upper" name="upper" value="{{ data["upper"] }}"/>
    </div>
    <div>
      <label for="pos_margin">Position margin ({{ data["pos_margin"] }})</label>
      <input type="number" step="1" id="pos_margin" name="pos_margin" value="{{ data["pos_margin"] }}"/>
    </div>
  </fieldset>
  <input type="submit" value="Set" />
</form>
